<%- include('./header') %>

<div class="container-fluid frame">
        <form class="search" action="/search">
            <input name="search" type="text" />
            <input type="submit" class="search-btn" />
        </form>
    </div>

    <ul class="show-gallary">
        <li class="card">
            <div class="img-wrapper">
                <img src="./img/livingstonapartments.jpeg" />

            </div>
            <h4>Livingston Apartments</h4>
            <Addr>Opened in 2012, Livingston Apartments are one of Rutgers’ newest on-campus living spaces. Three buildings, A, B, and C, make up the apartments. Home to continuing students and single graduate students, the apartments are located at the Plaza at Livingston, home to: Starbucks, Qdoba Mexican Grill, Rutgers Cinema, Kilmer’s Market, kite+key Rutgers Tech Store, Hoja Asian Fusion, Henry’s Diner, 16 Handles, and The Wright Cut. Livingston Apartments is also home to the Global Roommates Program.
            </Addr>
        </li>
        <li class="card">
                <div class="img-wrapper">
                    <img src="./img/sojourner.jpeg" />
    
                </div>
                <h4>Sojourner Truth Apartments</h4>
                <Addr> Opening in the Fall of 2016, Sojourner Truth Apartments are a 14-story, U-shaped university apartment building at the corner of College Avenue and Hamilton Street. Named for abolitionist and women’s rights activist Sojourner Truth, a former slave who was owned as a young girl by the family of Rutgers’ first president Jacob Hardenbergh, College Avenue’s newest residence hall features 135 single-bedroom apartments (up to four bedrooms per unit) on 13 residential floors.
                </Addr>
            </li>
            <li class="card">
                    <div class="img-wrapper">
                        <img src="./img/stonier.jpeg" />
        
                    </div>
                    <h4>Stonier Hall</h4>
                    <Addr>Stonier Hall is a traditional residence hall with private baths built in 1963, so every room has their own bathroom. It is named after Harold Stonier (1890-1957). In 1935, Stonier founded the Graduate School of Banking (later Stonier Graduate School) at Rutgers. He served as director (1935-1955) and later dean (1955-1957). Stonier is also several yards from Brower Commons Dining Hall and is right across the street from the Rutgers Student Center and Au Bon Pain.
                    </Addr>
                </li>
                <li class="card">
                        <div class="img-wrapper">
                            <img src="./img/leupp.jpeg" />
            
                        </div>
                        <h4>Leupp Hall</h4>
                        <Addr>Built in 1929, Leupp Hall is a traditional residence hall at the heart of the College Avenue campus. It is located near 12 other residence halls on College Ave, making one feel connected with their community. Leupp is one of the halls considered a part of the “Bishop Quad” and is home to the French Language & Culture Living-Learning Community.
                        </Addr>
                    </li>
                    <li class="card">
                            <div class="img-wrapper">
                                <img src="./img/newell.jpeg" />
                
                            </div>
                            <h4>Newell Apartments</h4>
                            <Addr> Built in 1973, the Newell Apartments are garden-style apartments located on the Cook Campus and is home to the Seeing-Eye Puppy Raisers Community.</Addr>
                        </li>
                <li class="card">
                        <div class="img-wrapper">
                            <img src="./img/henderson.jpg" />
            
                        </div>
                        <h4>Henderson Apartments</h4>
                        <Addr>Built in 1974, are on Douglass Campus and offer convenient parking and an open apartment floor plan. Henderson is also home to the Global Roommates Program</Addr>
                    </li>
    </ul>

    <div class="wrapper">
        <div class="big-show">
            <div>
                <h3></h3>
                <p> <li></li>
                    <li> </li>
                    <li></li>
                    <li></li>
                    <li></li>
                </p>
                </article>
            </div>
        </div>
    </div>

<%- include("./footer.ejs") %>